.reportPrintBtn {
    padding-left: 30%;
}

@media (max-width: 767.98px) {
    .page-title-box .page-title {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 70px;
    }
    .page-title-box .breadcrumb {
        display: block;
    }
    .reportPrintBtn {
        padding-left: 75%;
    }
}

@media (max-width: 640px) {
    .page-title-box .page-title-right {
        display: block;
    }
    .reportPrintBtn {
        padding-left: 75%;
    }
}

@media (max-width: 419px) {
    .page-title-box .breadcrumb {
        display: block;
    }
    .reportPrintBtn {
        padding-left: 75%;
    }
}

.footer {
    bottom: 0;
    padding: 21px 15px 20px;
    position: absolute;
    right: 0;
    color: #98a6ad;
    left: 240px;
    background-color: #eee;
}

.footer .footer-links a {
    color: #98a6ad;
    margin-left: 1.5rem;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.footer .footer-links a:hover {
    color: #348cd4;
}

.footer .footer-links a:first-of-type {
    margin-left: 0;
}


/* react-paginate css  */

.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
}

.pagination>.active>a {
    background-color: #9096a8;
    border-color: #9096a8;
    color: #fff;
}

.pagination>li>a {
    border: 1px solid #dee2e6;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #9096a8;
    border-color: #9096a8;
    outline: none;
}

.pagination>li>a,
.pagination>li>span {
    color: #9096a8;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-radius: unset;
}